{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf",
    "arrowParens": "always"
}
