.body {
    position: relative;
    height: 100vh;
    width: 100vw; 
    background-color: var(--dark);
    font-family: var(--text);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header "
        "sidebar main "
        "sidebar main ";
    overflow: hidden;
}

main {
    z-index: 1;
    height: 100%;
}