name: CI Frontend

on:
    push:
        paths:
            - 'frontend/**'
    pull_request:
        paths:
            - 'frontend/**'

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Récupération du code
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.pull_request.head.sha || github.sha }}

            - name: Installation des dépendances
              run: |
                  cd frontend
                  npm ci

            - name: Analyse du code (lint)
              run: |
                  cd frontend
                  npm run lint

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Récupération du code
              uses: actions/checkout@v4

            - name: Installation des dépendances
              run: |
                  cd frontend
                  npm ci

            - name: Lancement des tests unitaires
              run: |
                  cd frontend
                  npm run test:run
