name: Compile and push frontend image to production

on:
  pull_request:
    types: [closed]
    branches: ["main"]
  push:
    branches: ["main"]
    paths:
      - 'frontend/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Ne builder que si la PR a été mergée (pas juste fermée)
    if: github.event.pull_request.merged == true || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha || github.ref }}

      - uses: docker/login-action@v1
        name: Login to Docker Hub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - uses: docker/setup-buildx-action@v1
        name: Set up Docker Buildx

      - uses: docker/build-push-action@v2
        name: Build and push
        with:
          context: ./frontend
          file: ./frontend/Dockerfile.prod
          build-args: |
            BUILD_ENV=PROD
            VITE_RECAPTCHA_SITE_KEY=${{ secrets.RECAPTCHA_SITE_KEY_PROD }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.PROD_FRONT_IMAGE }}:latest