name: Compile and push storage api image to dev

on:
  push:
    branches:
      - dev
    paths:
      - 'storage-api/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./storage-api
          file: ./storage-api/Dockerfile.prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: pierrick64/wildtransfer-storage-api:dev
